.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  padding-bottom: 5px;
  font-weight: 700;
  color: rgba(190, 185, 185, 0.521);
}

.link:not(:last-child) {
  margin-right: 20px;
}

.activeLink {
  color: #fff;
}

.activeLink::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background-color: rgb(2, 255, 242);
}
